<h1 style="display:inline;white-space: nowrap;">Wizard</h1>
&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <span *ngIf="isPipeline == true" class="w3-tag w3-blue">Pipeline</span> -->

<button *ngIf="isPipeline == true" mat-raised-button
        style="background-color: #06A10B; color: white;line-height: 25px;"
        matTooltip="This Wizard is opened by pipeline"
        aria-label="Button that displays a tooltip when focused or hovered over"
        disabled
>
  Pipeline
</button>

<pipeline-data-menu *ngIf="isPipeline == true" [operation]="operation"></pipeline-data-menu>

<hr>

<mat-tab-group #selabtabs mat-align-tabs="start" (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let tab of tabs" label="{{tab}}">
    <div class="selab-tab-style" *ngIf="tab == 'Build Component'">
      <build-tab #build [isComposite]="isComposite" [isPipeline]="isPipeline" [uiComponentBuilder]="uiComponentBuilder"></build-tab>
    </div>

    <div class="selab-tab-style" *ngIf="tab == 'Compose Component'">
      <compose-tab #compose [isPipeline]="isPipeline" [uiComponentBuilder]="uiComponentBuilder"></compose-tab>
    </div>

    <div class="selab-tab-style" *ngIf="tab == 'Bind Service'">
      <bind-service-tab #service [uiComponentBuilder]="uiComponentBuilder"></bind-service-tab>
    </div>

    <div class="selab-tab-style" *ngIf="tab == 'Check Status'">
      <information-tab #status [isComposite]="isComposite" [isPipeline]="isPipeline" [uiComponentBuilder]="uiComponentBuilder"></information-tab>
    </div>


    <div class="selab-tab-style" *ngIf="tab == 'Generate Pipeline'">
      <pipeline-tab #pipeline [uiComponentBuilder]="uiComponentBuilder"></pipeline-tab>
    </div>
  </mat-tab>
</mat-tab-group>


<!-- <mat-dialog-actions>
  <button mat-raised-button (click)="checkUIComponent()" color="accent">Check UI Component</button>
  <button mat-raised-button color="disabled" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions> -->