<br>
<h3 style="display:inline"> Root Component: {{uiComponentBuilder.type}} </h3>
<!-- <pipeline-data-menu #returnDataMenu></pipeline-data-menu> -->
<app-return-data-menu #returnDataMenu></app-return-data-menu>
<h3> Service return value goes to:</h3>
<br>

<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let selecteduiComponentType of selecteduiComponentTypes" [selectable]="selectable" [removable]="removable" (removed)="remove(selecteduiComponentType)">
      {{selecteduiComponentType}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="New UIComponent..." #componentTypeInput [formControl]="uiComponentCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let uiComponentType of filtereduiComponentTypes | async" [value]="uiComponentType">
      {{uiComponentType}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<hr>
<mat-dialog-actions>
  <button type="button" (click)="nextPipe()" mat-raised-button color="primary">Next Pipe</button>
  <button mat-raised-button (click)="closeWizard()" color="disabled" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>