<mat-accordion>
  <mat-expansion-panel *ngFor="let serviceComponent of servicePool" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{serviceComponent.name}}
      </mat-panel-title>
      <mat-panel-description>
        ServiceID: {{serviceComponent.serviceID}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="selab-endpoint-form" *ngFor="let argument of serviceComponent.arguments"
        appearance="outline">
        <mat-label>{{argument.name}}</mat-label>
        <input id="{{serviceComponent.name}}-{{argument.name}}" matInput>
        &nbsp;&nbsp;
        <div *ngIf="argument.constraint != undefined">
          <button style="position:relative; bottom:20px; height:10px; color:#333333"
            *ngIf="argument.constraint.length > 0" disabled mat-button matTooltip="{{argument.constraint}}"
            matTooltipPosition="left">
            <mat-icon svgIcon="visibility"></mat-icon>
          </button>
        </div>
      </mat-form-field>
      <button (click)="showLog(serviceComponent)" style="background-color: #333333;" mat-raised-button
        color="primary">Show Log</button>
      &nbsp;&nbsp;
      <button (click)="test(serviceComponent)" mat-raised-button color="primary">Test</button>
      &nbsp;
      <button (click)="showCode(serviceComponent)" mat-button style="min-width: 10px;" matTooltip="show source code">
        <mat-icon style="margin-bottom:10px;" svgIcon="code"></mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<button matTooltip="Test all service components using Jest" mat-raised-button (click)="testAll()" style="background-color: #333333;
    margin-top: 20px;
   color:white">Test All</button>
&nbsp;&nbsp;
<mat-spinner [diameter]="30" style="display: inline; position: relative;" *ngIf="isWaitingTesting"></mat-spinner>