<mat-accordion>
  <mat-expansion-panel *ngFor="let operation of servicePool" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{operation.name}}
      </mat-panel-title>
      <mat-panel-description>
        ServiceID: {{operation.serviceID}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field *ngFor="let argument of operation.arguments" appearance="outline">
        <mat-label>{{argument.name}}</mat-label>
        <input id="{{operation.name}}-{{argument.name}}" matInput>
      </mat-form-field>
      <button (click)="test(operation)" mat-raised-button color="primary">Test</button>
      <span style="color:rgba(0,0,0,.54);padding-left:45px">Result: {{operation.returnData.data['result']}}</span>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<button
  matTooltip="Test all service components using Jest"
  mat-raised-button 
  style="background-color: #333333;
    margin-top: 20px;
    left:200px;
   color:white" >Test All</button>