<h1 mat-dialog-title>          
  <h4 class="modal-title">Composition Wizard</h4>
  <h4 class="modal-title">{{data.name}}</h4>
  <button type="button" class="close" (click)="onClose()">&times;</button>
<div mat-dialog-content>

  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="nav-item" role="presentation"><a class="nav-link active" href="#building" data-toggle="tab">Building</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" href="#composition" data-toggle="tab">Composition</a></li>
  </ul> 
  <div class="tab-content">
    <div class="tab-pane active" id="building" role="tabpanel">
      <p>Ready to Build:  <mark>{{data.name}}</mark></p>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div *ngFor="let property of this.properties">
          <div *ngIf="!(property==='componentList')">{{property}}:
              <input ngModel name={{property}}>
<!--                <button class="btn btn-danger" (click)="setData(property,kind.value)">confirm</button>-->
          </div>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>

    </div>
    <div class="tab-pane" id="composition" role="tabpanel">
      <p>Composite <mark>{{componentName}}</mark></p>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position:relative;left:10px;font-size: large" (click)="clickCreate()">
          +
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let element of compositeElements" class="dropdown-item" (click)="getSubComponentProperties(element)" >{{element}}</a>
        </div>
      </div>

      <div *ngIf="!isComposite; else compositeBlock" style="font: caption">Basic Component cannot be composite, click Finish!</div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button type="button" class="btn btn-primary" (click)="clickFinish()">Finish</button>
  <button type="button" class="btn btn-danger" (click)= "getComponentProperties(componentName)">Start</button>
  <button type="button" class="btn btn-primary" (click)="clickNext()">Next</button>
  <button type="button" class="btn btn-primary" (click)="onNoClick()">Exit</button>
</div>

<ng-template #compositeBlock>
  <form #sf="ngForm" (ngSubmit)="onCompositeSubmit(sf)">
    <div style="position: relative;left:5px">
      <strong>{{this.componentName}}</strong>
      <div *ngFor="let property of properties">{{data.property}}:
        <input ngModel name={{property}}>
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>

</ng-template>
