<div style="background-color: #eaeded;;height:100%; position: fixed;">
    <mat-tab-group>
      <mat-tab label="Palette">
          <div class="col">
              <div class="container">
                <div class="row">
                    <a class="col" (click)="onClick($event)">process</a>
                    <img src="src/app/bpel-designer/resources/icon/process.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">invoke</a>
                  <img src="src/app/bpel-designer/resources/icon/invoke.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">receive</a>
                  <img src="src/app/bpel-designer/resources/icon/receive.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">reply</a>
                  <img src="src/app/bpel-designer/resources/icon/reply.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">assign</a>
                  <img src="src/app/bpel-designer/resources/icon/assign.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">copy</a>
                  <img src="src/app/bpel-designer/resources/icon/copy.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">sequence</a>
                  <img src="src/app/bpel-designer/resources/icon/sequence.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">if</a>
                  <img src="src/app/bpel-designer/resources/icon/if.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">elseif</a>
                  <img src="src/app/bpel-designer/resources/icon/elseif_branch.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">else</a>
                  <img src="src/app/bpel-designer/resources/icon/else_branch.png" class="col">
                </div>
                <div class="row">
                  <a class="col" (click)="onClick($event)">while</a>
                  <img src="src/app/bpel-designer/resources/icon/while.png" class="col">
                </div>
              </div>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>