<div>
  <div style="padding:3%">
  </div>
  <div style="font-size: large; padding:3%; width:300px">
    <label class="input-label" for="fillColor">Fill</label>
    <input style="position: relative; left:170px;" (change)="changeColor(event)" [(ngModel)]="colorPicker" type="color"
      name="fillColor333" id="bgColor">
    <br style="margin-bottom:3px">

    <label class="input-label" for="opacity">Opacity</label>
    <input style="position:relative; left: 130px; width: 25%; height:20px" (change)="changeOpacity()"
      [(ngModel)]="opacity" type="number" name="opacity" id="opacity">
    <br style="margin-bottom:3px">

    <label class="input-label" for="fontSize">FontSize</label>
    <input style="width: 25%; height: 20px; position: relative; left:120px" (change)="changeFontSize()"
      [(ngModel)]="fontSize" type="number" name="fontSize" id="fontSize" min="1" max="100">
    <br style="margin-bottom:3px">

    <label class="input-label" for="fontColor">FontColor</label>
    <input style="position:relative; left: 110px;" (change)="changeFontColor()" [(ngModel)]="fontColor" type="color"
      name="fontColor" id="fontColor">
    <hr style="margin-bottom:20px">


    <label class="input-label" for="shadow">Shadow</label> &nbsp;
    <input (change)="toggleShadow(event)" [(ngModel)]="shadow" type="checkbox" name="shadow" id="shadow">
    <br style="margin-bottom:3px">

    <label class="input-label" for="rounded">Rounded</label> &nbsp;
    <input (change)="toggleRounded(event)" [(ngModel)]="rounded" type="checkbox" name="rounded" id="rounded">
  </div>
</div>


<!-- <mat-list>
  <mat-list-item>
      <label class="input-label" for="fillColor">Fill</label>
      <input style="position: relative; left:170px;" (change)="changeColor(event)" [(ngModel)]="colorPicker" type="color"name="fillColor333" id="bgColor">
    <br>
        <label class="input-label" for="fontColor">FontColor</label>
    <input style="position:relative; left: 130px;" (change)="changeFontColor()" [(ngModel)]="fontColor" type="color" name="fontColor" id="fontColor">
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
      <label class="input-label" for="opacity">Opacity</label>
      <input style="position:relative; left: 140px; width: 25%; height:20px" (change)="changeOpacity()" [(ngModel)]="opacity" type="number" name="opacity" id="opacity">
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
     <input (change)="toggleShadow(event)" [(ngModel)]="shadow" type="checkbox" name="shadow" id="shadow"><label
      class="input-label" for="shadow">Shadow</label>
   
        <input (change)="toggleRounded(event)" [(ngModel)]="rounded" type="checkbox" name="rounded" id="rounded"><label
      class="input-label" for="rounded">Rounded</label>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
        <label class="input-label" for="fontSize">FontSize</label>
    <input style="width: 25%; height: 20px; position: relative; left:140px" (change)="changeFontSize()" [(ngModel)]="fontSize" type="number"
      name="fontSize" id="fontSize" min="1" max="100">

  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

  </mat-list-item>
</mat-list> -->