<div>
  <div style="padding:3%">
  </div>
  <div style="font-size: large; padding:3%; width:30vw">
    <label class="input-label" for="fillColor">Fill</label>
    <input style="position: relative; left: 100px;" (change)="changeFillColor()" [(ngModel)]="fillColor" type="color"
      name="fillColor333" id="bgColor"> 
    <br style="margin-bottom:3px">

    <label class="input-label" for="fillColor">Border Color</label>
    <input style="position: relative; left: 24px;" (change)="changeBorderColor()" [(ngModel)]="borderColor" type="color"
      name="fillColor333" id="bgColor">
    <br style="margin-bottom:3px">


    <label class="input-label" for="opacity">Opacity</label>
    <input style="position:relative; left: 64px; width: 13.6%; height:20px" (change)="changeOpacity()"
      [(ngModel)]="opacity" type="number" name="opacity" id="opacity"
      min="0" max="100" 
      >
    <br style="margin-bottom:3px">

    <label class="input-label" for="fontSize">FontSize</label>
    <input style="width: 14%; height: 20px; position: relative; left: 55px;" (change)="changeFontSize()"
      [(ngModel)]="fontSize" type="number" name="fontSize" id="fontSize" min="1" max="100">
    <br style="margin-bottom:3px">

    <label class="input-label" for="fontColor">FontColor</label>
    <input style="position: relative;  left: 45px;" (change)="changeFontColor()" [(ngModel)]="fontColor" type="color"
      name="fontColor" id="fontColor">
    <hr style="margin-bottom:20px">


    <label class="input-label" for="shadow">Shadow</label> &nbsp;
    <input (change)="toggleShadow()" [(ngModel)]="shadow" type="checkbox" name="shadow" id="shadow">
    <br style="margin-bottom:3px">

    <label class="input-label" for="rounded">Rounded</label> &nbsp;
    <input (change)="toggleRounded()" [(ngModel)]="rounded" type="checkbox" name="rounded" id="rounded">
  </div>
</div>