<!-- <app-header [fixed]="true" [asideMenuToggler]="false" [sidebarToggler]="false"> -->
<header style="position: fixed;">
  <div class="container-fluid">
    <div class="row">
      <button style="padding-top:2px; font-size:large;" mat-button [matMenuTriggerFor]="fileMenu">File</button>
      <button style="padding-top:2px; font-size:large;" mat-button [matMenuTriggerFor]="layoutMenu">Layout</button>
      <button style=" padding-top:2px; font-size:large; width: 100%; inline-size: inherit;" mat-button [matMenuTriggerFor]="genereMenu"
        matTooltip="Choose UI Component (launch wizard)">UI Component</button>
      <!-- <button style="width: 100%; inline-size: inherit;" mat-button>Launch Wizard</button> -->
    </div>
  </div>
</header>
<selab-header-navigation-form></selab-header-navigation-form>

<mat-menu #fileMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="save()">Save All</button>
  <button mat-menu-item [matMenuTriggerFor]="importMenu">Import</button>
  <button mat-menu-item [matMenuTriggerFor]="exportMenu">Export</button>
</mat-menu>



<mat-menu #importMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="uploader.click()" matTooltip="Upload a page description language File">Upload File</button>
  <button mat-menu-item  matTooltip="Retrive data from database">Database</button>
</mat-menu>

<input 
    hidden 
    type="file" 
    #uploader
    (change)="uploadPageUICDL($event)"
/>

<mat-menu #exportMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="storePDL()" matTooltip="Page Description Language">PDL</button>
  <button mat-menu-item (click)="storeNDL()" matTooltip="Navigation Description Language">NDL</button>
</mat-menu>

<mat-menu #layoutMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="applyLayout('prime')">Prime</button>
  <button mat-menu-item>Layout1</button>
  <button mat-menu-item>Layout2</button>
</mat-menu>

<mat-menu #genereMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [matMenuTriggerFor]="categoryMenu" matTooltip="">Angular Material</button>
  <button mat-menu-item matTooltip="">CoreUI</button>
  <button mat-menu-item matTooltip="">HTML</button>
</mat-menu>

<mat-menu #categoryMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [matMenuTriggerFor]="informativeMenu" matTooltip="">Informative</button>
  <button mat-menu-item [matMenuTriggerFor]="navigationMenu" matTooltip="">Navigation</button>
  <button mat-menu-item [matMenuTriggerFor]="inputMenu" matTooltip="">Input Control</button>
  <button mat-menu-item [matMenuTriggerFor]="containerMenu" matTooltip="">Container</button>
</mat-menu>

<mat-menu #informativeMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="launchWizard('Angular Material','informative','text')">text</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','informative','table')">table</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','informative','card')"> card</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','informative','icon')">icon</button>
</mat-menu>

<mat-menu #navigationMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="launchWizard('Angular Material','navigation','text')">text</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','navigation','button')">button</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','navigation','breadcrumb')">breadcrumb</button>
</mat-menu>

<mat-menu #inputMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="launchWizard('Angular Material','input','input')">input text</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','input','form')">form</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','input','dropdown')">dropdown</button>
</mat-menu>

<mat-menu #containerMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="launchWizard('Angular Material','container','form')">form</button>
  <button mat-menu-item (click)="launchWizard('Angular Material','container','card')">card</button>
</mat-menu>