<app-header [fixed]="true" [asideMenuToggler]="false" [sidebarToggler]="false">
  <div class="container-fluid">
    <div class="row">
      <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
      <button mat-button [matMenuTriggerFor]="layoutMenu">Layout</button>
      <button style="width: 100%; inline-size: inherit;" mat-button [matMenuTriggerFor]="genereMenu"
        matTooltip="Choose UI Component">UI Component</button>
      <button style="width: 100%; inline-size: inherit;" mat-button>Launch Wizard</button>
    </div>
  </div>
</app-header>
<selab-header-navigation-form></selab-header-navigation-form>

<mat-menu #fileMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item>Save</button>
  <button mat-menu-item>Import</button>
  <button mat-menu-item [matMenuTriggerFor]="exportMenu">Export</button>
</mat-menu>


<mat-menu #exportMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item matTooltip="Page Description Language">PDL</button>
  <button mat-menu-item matTooltip="Navigation Description Language">NDL</button>
</mat-menu>

<mat-menu #layoutMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item>Prime</button>
  <button mat-menu-item>Layout1</button>
  <button mat-menu-item>Layout2</button>
</mat-menu>

<mat-menu #genereMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [matMenuTriggerFor]="categoryMenu" matTooltip="">Angular Material</button>
  <button mat-menu-item matTooltip="">CoreUI</button>
  <button mat-menu-item matTooltip="">HTML</button>
</mat-menu>

<mat-menu #categoryMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [matMenuTriggerFor]="informativeMenu" matTooltip="">Informative</button>
  <button mat-menu-item [matMenuTriggerFor]="navigationMenu" matTooltip="">Navigation</button>
  <button mat-menu-item [matMenuTriggerFor]="inputMenu" matTooltip="">Input Control</button>
  <button mat-menu-item [matMenuTriggerFor]="containerMenu" matTooltip="">Container</button>
</mat-menu>

<mat-menu #informativeMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item>text</button>
  <button mat-menu-item>table</button>
  <button mat-menu-item>card</button>
  <button mat-menu-item>icons</button>
</mat-menu>

<mat-menu #navigationMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item>text</button>
  <button mat-menu-item>button</button>
  <button mat-menu-item>breadcrumb</button>
</mat-menu>

<mat-menu #inputMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item>input</button>
  <button mat-menu-item>form</button>
  <button mat-menu-item>dropdown</button>
</mat-menu>

<mat-menu #containerMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item>form</button>
  <button mat-menu-item>card</button>
</mat-menu>