<h1 style="display:inline;white-space: nowrap;">
  WebApp Dashboard
</h1>

<hr>

<mat-dialog-content>
  <div class="container">
    <div class="row">
      <h2 class="project-name">Project Name: {{getProjectName()}}</h2>
    </div>
  </div>
  <mat-list *ngFor="let stage of stages">
    <mat-list-item>
      <div class="container">
        <div class="row justify-content-between">
          <div class="col">
            <h3>{{getStageName(stage)}}</h3>
          </div>
          <div class="col-1">
            <a>{{getStageDurationSeconds(stage).toFixed(1)}}s</a>
          </div>
          <div class="col-1" *ngIf="isStageSuccess(stage)">
            <mat-icon color="primary" class="icon-display">done</mat-icon>
          </div>
          <div class="col-1" *ngIf="isStageInProgress(stage)" >
            <mat-spinner color="accent" [diameter]="30"></mat-spinner>
          </div>
          <div class="col-1" *ngIf="isStageFailed(stage)">
            <mat-icon color="warn" class="icon-display">close</mat-icon>
          </div>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div class="container">
    <div class="row justify-content-center">
      <h4 *ngIf="isTaskStatusSuccess()" style="color:#3f51b5">Status: {{taskStatus}}</h4>
      <h4 *ngIf="isTaskStatusInProgress()" style="color:#ff4081">Status: {{taskStatus}}</h4>
      <h4 *ngIf="isTaskStatusFailed()" style="color:#f44336">Status: {{taskStatus}}</h4>
      <h4 *ngIf="isTaskStatusOther()">Status: {{taskStatus}}</h4>
    </div>
    <div *ngIf="deployedUrl" class="row justify-content-center">
      <a mat-raised-button color="primary" href={{deployedUrl}}>Go to my Web Application!</a>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="isGenerating" mat-raised-button color="primary" (click)="confirmGenerate()">Generate</button>
  <button [disabled]="isGenerating" mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>