<app-header [fixed]="true" [asideMenuToggler]="false" [sidebarToggler]="false">

  <ul class="nav navbar-nav">
    <li class="nav-item px-4">
      <a class="nav-link" role="button" (click)="import()">Import </a>
      <input type="file"
             id="pictures" name="pictures"
             accept="image/png, image/jpeg" multiple style="font-size: 16px;display: none">
    </li>
    <li class="nav-item px-4">
      <a class="nav-link" role="button" (click)="save()">Save</a>
    </li>
    <li class="nav-item px-4" dropdown>
      <a class="nav-link" role="button" data-toggle="dropdown" dropdownToggle>Export</a>
      <div class="dropdown-menu" *dropdownMenu style="">
        <a class="dropdown-item" (click)="connectServer()">Connect Server</a>
      </div>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <li class="nav-item dropdown px-4" dropdown>
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        {{this.layout_selected}}
      </a>
      <div class="dropdown-menu dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Layout</strong></div>
        <a class="dropdown-item" *ngFor="let kind of layout" (click)="setLayout(kind)">{{kind}}</a>
      </div>
    </li>
    <span><i class="nav-icon icon-arrow-right-circle px-sm-1"></i></span>
    <button type="button" class="btn px-3 fadeIn" (click)="apply()">
      Apply Layout
    </button>

    <li class="nav-item dropdown px-5" dropdown>
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        {{this.genre_selected}}
      </a>
      <div class="dropdown-menu dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Genre</strong></div>
        <a class="dropdown-item" *ngFor="let kind of genre" (click)="setGenre(kind)">{{kind}}</a>
      </div>
    </li>
    <span><i class="nav-icon icon-arrow-right"></i></span>
    <li class="nav-item dropdown px-5" dropdown>
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        {{this.category_selected}}
      </a>
      <div class="dropdown-menu dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Category</strong></div>
        <a class="dropdown-item" *ngFor="let kind of categories" (click)="setCategory(kind)">{{kind}}</a>
      </div>
    </li>
    <span><i class="nav-icon icon-arrow-right"></i></span>
    <li class="nav-item dropdown px-5" dropdown>
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        {{this.component_selected}}
      </a>
      <div class="dropdown-menu dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Component</strong></div>
        <a class="dropdown-item" *ngFor="let kind of components" (click)="setComponent(kind)">{{kind}}</a>
      </div>
    </li>
    <span><i class="nav-icon icon-arrow-right"></i></span>
    <li class="btn btn-ghost-dark btn-pill px-4" data-toggle="modal" data-target="#myModal"
        (click)="fresh()">Launch Wizard</li>
    <app-wizard [componentName]="component_selected" [componentProperties]="componentProperties"></app-wizard>
    <li class="nav-item dropdown px-4" dropdown>
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        Insert Item
      </a>
      <div class="dropdown-menu dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Layout Part</strong></div>
        <a class="dropdown-item" (click)="openForm('header')">header</a>
        <a class="dropdown-item" (click)="openForm('footer')">footer</a>
        <a class="dropdown-item" (click)="openForm('sidebar')">sidebar</a>
        <a class="dropdown-item" (click)="openForm('asidebar')">asidebar</a>
      </div>
    </li>
    <li class="btn btn-ghost-dark btn-pill px-4" (click)="openForm2()">Navigation Mechanism</li>
    <!--    <li class="btn btn-outline-dark btn-pill px-5">Insert Item</li>-->
  </ul>


</app-header>
<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <div class="container-fluid" style="height: 100%">
      <div class="row" style="height:100%">
      <app-graph-editor class="col-10"></app-graph-editor>
        <div class="col-2">
          <button class="btn btn-instagram" (click)="showFiles()">show files</button>
          <br><br>
          <form>
            <div *ngFor="let file of files"><strong>{{file.selector}}</strong>
              <div *ngFor="let f of file['components']">->{{f}}</div>
            </div>

          </form>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer style=" background-color: #e4e5e6 ">
  <span><a href="#">SELab</a> &copy; 2020 </span>
</app-footer>

<div class="form-popup" id="myForm"
     style="display: none;position:fixed;top:8%;right:30%;z-index: 9;width:350px;height:100px">
  <form #sf="ngForm" (ngSubmit)="addLayoutItem(sf);">
  <div class="card">
    <div class="card-body" >
        <div class="form-group row">
          <label class="col-5" for="text-part" style="text-align: center">Text:</label>
          <div class="col-md-7">
            <input type="text" id="text-part" name="text" ngModel>
          </div>
        </div>s
        <div class="form-group row">
          <label class="col-5" for="href-part" style="text-align: center">Href:</label>
          <div class="col-md-7">
            <input type="text" id="href-part" name="href" ngModel>
          </div>
        </div>
    </div>
    <div class="card-footer" style="display: flex;justify-content: center;">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="closeForm()"><i class="fa fa-ban"></i> Cancel</button>
    </div>
  </div>
  </form>
</div>

<div class="form-popup" id="navigationForm"
     style="position:fixed;display:none;top:8%;right:30%;z-index: 9;width:350px;height:100px">
  <form #sf="ngForm" (ngSubmit)="insertEdge(sf);">
    <div class="card">
      <div class="card-body" >
        <div class="form-group row">
          <label class="col-5" for="source-part" style="text-align: center">Source:</label>
          <div class="col-md-7">
            <input type="text" id="source-part" name="source" ngModel>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5" for="target-part" style="text-align: center">Target:</label>
          <div class="col-md-7">
            <input type="text" id="target-part" name="target" ngModel>
          </div>
        </div>
      </div>
      <div class="card-footer" style="display: flex;justify-content: center;">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeForm2()"><i class="fa fa-ban"></i> Cancel</button>
      </div>
    </div>
  </form>
</div>


