<br>
<h3> Composite Component: {{uiComponentBuilder.type}} </h3>
<div>
  <div style="display: inline;">
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Select Child Component</mat-label>
      <mat-select disableRipple>
        <mat-option *ngFor="let option of childrenOptions" value="option" (click)="chooseChild($event,option)">
          {{option}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    &nbsp; &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Select Builder</mat-label>
      <mat-select disableRipple>
        <mat-option *ngFor="let builder of wizardStorage.getCompositeComponentBuilders()" value="option"
          (click)="chooseBuilder($event, builder)">
          <span *ngIf="builder.isComposite()" style="font-weight: bolder; color: black;">
            {{builder.description}} ({{builder.name}})
          </span>
          <span *ngIf="!builder.isComposite()" style="font-weight:lighter; color: #333333;">
            {{builder.description}} ({{builder.name}})
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
  </div>

  <div *ngIf="subComponentBuilder !== undefined && isClean === true">
    <div *ngFor="let property of subComponentProperties">
      <div *ngIf="property.type == 'String'">
        <mat-form-field appearance="outline">
          <mat-label>{{property.name}}</mat-label>
          <input [ngModel]="inputValue" (ngModelChange)="valueChange($event, property)" matInput
            placeholder="Placeholder">
          &nbsp;
        </mat-form-field>
        <div style="display: inline; padding-left: 5px;" *ngIf="isPipeline">
          <mat-form-field appearance="outline">
            <mat-label>From Return</mat-label>
            <mat-select disableRipple>
              <mat-option *ngFor="let option of returnData" value="{{option}}"
                (click)="chooseReturn($event,option, property)">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="property.type == 'Boolean'">
        <mat-slide-toggle [ngModel]="inputValue" (ngModelChange)="valueChange($event, property)" matInput>
          {{property.name}}</mat-slide-toggle>
      </div>
    </div>
  </div>

  <div>
    <hr>
    <mat-dialog-actions>
      <button type="button" (click)="insertSubComponent()" mat-raised-button color="primary">Insert</button>
      <button mat-raised-button (click)="closeWizard()" color="disabled" [mat-dialog-close]="true">Close</button>
    </mat-dialog-actions>
  </div>
</div>