<br>
<h3> Composite Component: {{uiComponent.type}} </h3>
<div>
  <div style="display: inline;">
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Select Child Component</mat-label>
      <mat-select disableRipple>
        <mat-option *ngFor="let option of childrenOptions" value="option" (click)="chooseChild($event,option)">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="subComponent !== undefined && isClean === true">
    <div *ngFor="let property of subComponentProperties">
      <div *ngIf="property.type == 'String'">
        <mat-form-field appearance="outline">
          <mat-label>{{property.value}}</mat-label>
          <input [ngModel]="inputValue" (ngModelChange)="valueChange($event,property.value)" matInput
            placeholder="Placeholder">
          &nbsp;
        </mat-form-field>
      </div>
      <div *ngIf="property.type == 'Boolean'">
        <mat-slide-toggle [ngModel]="inputValue" (ngModelChange)="valueChange($event,property.value)" matInput>
          {{property.value}}</mat-slide-toggle>
      </div>
    </div>
  </div>

  <div>
    <hr>
    <mat-dialog-actions>
      <button type="button" (click)="insertComponent()" mat-raised-button color="primary">Insert</button>
        <button mat-raised-button color="disabled" [mat-dialog-close]="true">Close</button>
    </mat-dialog-actions>
  </div>
</div>