.add-button{
    width: 100px!important;
    min-width: 20px!important;
}

input[type="text"]:focus {
    background: #ffffff;
    border:2px #eaeded solid;
}

input[type="text"] {
    background: #eaeded;
    border:0px;
}