<div style="background-color: #eaeded;height:100%; position: fixed;">
    <mat-tab-group>
      <mat-tab label="Property-Editor">
        <div class="input-group">
          <div class='col'>
            <span>attributes</span>
            <div class="input-group-prepend" *ngFor='let kv of attributeKVPairs'>
              <div class='col'>
                <span class="input-group-text">{{getKey(kv)}}</span>
                <textarea class="form-control" (keyup)="syncSelectedAttribute(getKey(kv), $event)">{{getValue(kv)}}</textarea>
              </div>
            </div>
            <span>elements</span>
            <div class="input-group-prepend" *ngFor='let kv of elementKVPairs'>
              <div class='col'>
                <span class="input-group-text">{{getKey(kv)}}</span>
                <textarea class="form-control" (keyup)="syncSelectedAttribute(getKey(kv), $event)">{{getValue(kv)}}</textarea>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>