<h1 style="margin-bottom:0px;" mat-dialog-title> Project Group Setting </h1>

<div mat-dialog-content>
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab #groupInfo label="Group Information">
      <div style="margin-top: 10px;">
        Group members below
        <mat-list>
          <mat-list-item *ngFor="let user of groupUserList">
            {{user['name']}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab #inviteDeveloper label="Invite Developer">
      <div style="margin-top:10px;">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput [(ngModel)]="invitedUsername">
        </mat-form-field>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="inviteGroup()">Invite</button>
      </div>
      <alert *ngIf="hasWarningMessage" type="danger">
        <strong> {{warningMessage}} </strong>
      </alert>
    </mat-tab>
  </mat-tab-group>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">
    Close
  </button>
</div>