


<div class="row" style="flex: 1">
    <app-header></app-header>
</div>

<div class="row border border-white" style="flex: 20;">
    <div class="col-2" style="padding:2.5% 0.5% 0% 1.5%;background: white;">
        <app-control-panel></app-control-panel>
    </div>
    <div class="col-8 graphEditor"style="padding-left: 0;padding-right: 0;">
        <app-graph-editor></app-graph-editor>
    </div>
    <div class="col-2" style="padding:2.5% 1% 0% 0.5%;background: white;">
        <app-setting></app-setting>
    </div>
</div>


