<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!-- Modal -->
<div class="modal" id="myModal" role="dialog" data-backdrop="false" style="position: absolute;left:35%">
  <div class="modal-dialog" style="position: fixed;width:700px;height:700px">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Composition Wizard</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist" id="myTab" style="display: flex">
          <li class="nav-item" role="presentation" style="flex: 1;text-align: center"><a class="nav-link active"
              id="building-tab" href="#building" data-toggle="tab">Building</a></li>
          <li class="nav-item" role="presentation" style="flex: 1;text-align: center"><a class="nav-link" role="tab"
              id="composition-tab" href="#composition" data-toggle="tab">Composition</a></li>
          <li *ngIf="isComposite;" class="nav-item" role="presentation" style="flex: 1;text-align: center"><a
              class="nav-link" role="tab" id="service-tab" href="#service" data-toggle="tab">Service</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="building" role="tabpanel" aria-labelledby="building-tab">
          <p style="font-weight: bold;">Ready to Build: <mark>{{componentName}}</mark></p>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div *ngFor="let property of componentProperties">
              <div *ngIf="!(property==='componentList')" class="row">
                <label class="col-3" style="text-align: center">{{property}}:</label>
                <div class="col-9">
                  <input ngModel name={{property}}>
                </div>
  <!--                <button class="btn btn-danger" (click)="setData(property,kind.value)">confirm</button>-->
              </div>
            </div>
            <br>
            <button class="btn btn-primary">Submit</button>
          </form>

          <br style="display: block;margin: 3px;">

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="getComponentProperties(componentName)">Start</button>
            <button type="button" class="btn btn-info btn-lg" (click)="clickNext()">Next</button>
          </div>

        </div>
        <div class="tab-pane" id="composition" role="tabpanel" aria-labelledby="composition-tab">
          <p style="font-weight: bold;">Composite <mark>{{componentName}}</mark>  
            &nbsp; &nbsp; &nbsp;
          </p>
          <div *ngIf="isComposite">
            <label class="checkbox">
              <input type="checkbox" (change)="setIsTemplate($event.target.checked)" data-toggle="toggle">
              &nbsp;For Template
            </label>
            &nbsp;&nbsp;
            <label *ngIf="isTemplate" >
              <input type="text" placeholder="Template Name" [(ngModel)]="templateName">
            </label>
          </div>

          


          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="position:relative;left:10px;font-size: large" (click)="clickCreate()">
              +
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let element of compositeElements" class="dropdown-item"
                (click)="getSubComponentProperties(element)">{{element}}</a>
            </div>
          </div>

          <br style="display: block;margin: 3px;">&nbsp;

          <div style="display: inline;" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selectedServiceComponent.name}} &nbsp;&nbsp; {{selectedServiceComponent.preference}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let serviceComponent of this.getServiceComponents()" class="dropdown-item"
                (click)="this.setSelectedServiceComponent(serviceComponent)">{{serviceComponent.name}} &nbsp;&nbsp;
                {{serviceComponent.preference}}</a>
              <a *ngIf="!isComposite" class="dropdown-item" 
                (click)="this.setSelectedServiceComponent(serviceNoneOption)">None</a>
            </div>
          </div>

          <div *ngIf="!isComposite; else compositeBlock" style="font: caption">
            Basic Component cannot be composite, click Finish!
          </div>
          <br style="display: block;margin: 3px;">

          <div style="justify-content: start;" class="modal-footer">
            <label class="switch">
              <input (change)="setMatchmaking($event.target.checked)" type="checkbox">
              <span class="slider round"></span>
            </label> &nbsp; &nbsp; <label style="font-weight: bold;">Matchmaking</label>
            &nbsp; &nbsp; <button (click)="queryServices()" class="btn btn-primary btn-lg" type="button">Query
              Services</button>
            <button type="button" class="btn btn-info btn-lg" data-dismiss="modal"
              (click)="clickFinish()">Finish</button>
          </div>
        </div>

        <div *ngIf="isComposite" class="tab-pane" id="service" role="tabpanel" aria-labelledby="service-tab">
          <p>Service Component Mapping <mark>{{componentName}} : &nbsp; <div style="display: inline;"
                *ngIf="component != undefined">
                <div style="display: inline;" *ngIf="component.serviceComponent != undefined">
                  {{component.serviceComponent.name}}</div>
              </div></mark></p>
          <div *ngIf="isComposite">
            <div *ngIf="component != undefined">
              <div *ngFor="let subComponent of component.componentList">
                <label class="compositeServiceTitle">
                  {{subComponent.type}}
                </label>
                &nbsp;
                &nbsp;

                <div class="dropdown" style="display:inline">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{subComponent.serviceType}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a (click)="setServiceType(subComponent,'ServiceComponent')" class="dropdown-item">Service
                      Component</a>
                    <a (click)="setServiceType(subComponent,'Argument')" class="dropdown-item">Argument</a>
                    <a (click)="setServiceType(subComponent,'None')" class="dropdown-item">None</a>
                  </div>
                </div>
                &nbsp;
                <div style="display:inline" *ngIf="subComponent.serviceType == 'ServiceComponent'">
                  <div style="display: inline;" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{subComponent.serviceComponent.name}} &nbsp;&nbsp; {{subComponent.serviceComponent.preference}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a *ngFor="let serviceComponent of this.getServiceComponents()" class="dropdown-item"
                        (click)="this.setSelectedServiceSubComponent(subComponent,serviceComponent)">{{serviceComponent.name}}
                        &nbsp;&nbsp;
                        {{serviceComponent.preference}}</a>
                    </div>
                  </div>
                </div>

                <div style="display:inline" *ngIf="subComponent.serviceType == 'Argument'">
                  <div style="display: inline;" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{subComponent.argumentName}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a *ngFor="let argument of this.component.serviceComponent.arguments" class="dropdown-item"
                        (click)="this.setArgument(subComponent,argument)">{{argument.name}}</a>
                    </div>
                  </div>
                </div>

                <div style="display:inline" *ngIf="subComponent.serviceType == 'None'">
                  <!-- None here -->
                </div>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #compositeBlock>
  <form style="display: inline;" #sf="ngForm" (ngSubmit)="onCompositeSubmit(sf);">
    <div style="position: relative;left:5px;">
      <strong>{{this.subComponentName}}</strong>
      <div *ngFor="let property of properties">{{property}}:
        <input ngModel name={{property}}>
      </div>
    </div>
    <br style="display: block;margin: 3px;">
    &nbsp;
    <button class="btn btn-primary">Submit</button>
  </form>
</ng-template>