<mat-toolbar style="height: 40px; min-height: 30px; background-color: #f7f7f7; color:black">
    <mat-toolbar-row>
        <button mat-button style="padding-left: 26px; font-size:large; min-width: 20px;"
            [matMenuTriggerFor]="utilMenu">Util</button>
        <button (click)="zoomIn()" mat-button style="min-width: 10px;" matTooltip="zoomIn">
            <mat-icon style="margin-bottom:10px;" svgIcon="zoomIn"></mat-icon>
        </button>
        <button (click)="zoomOut()" mat-button style="min-width: 10px;" matTooltip="zoomOut">
            <mat-icon style="margin-bottom:10px ;" svgIcon="zoomOut"></mat-icon>
        </button>
        <button mat-button style="min-width: 10px;" matTooltip="undo">
            <mat-icon style="margin-bottom:10px ;" svgIcon="undo"></mat-icon>
        </button>
        <button mat-button style="min-width: 10px;" matTooltip="redo">
            <mat-icon style="margin-bottom:10px ;" svgIcon="redo"></mat-icon>
        </button>
        <button (click)="clearGraph()" mat-button style="min-width: 10px;" matTooltip="clear page">
            <mat-icon style="margin-bottom:10px ;" svgIcon="delete"></mat-icon>
        </button>
        <button (click)="navigation('theme')" mat-button style="min-width: 10px;" matTooltip="do navigation">
            <mat-icon style="margin-bottom:10px ;" svgIcon="navigation"></mat-icon>
        </button>
        <button (click)="navigation('themes')" mat-button style="min-width: 10px;" matTooltip="do navigation between themes">
            <mat-icon style="margin-bottom:10px ; color: #0080ff;" svgIcon="navigation"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #utilMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="showInternalRepresentation()"
        matTooltip="Show Internal Representation(pageUICDL) in console">Show IR</button>
    <button mat-menu-item (click)="showExternalRepresentation()"
        matTooltip="Show External Representation(graphStorage) in console">Show ER</button>
    <button mat-menu-item (click)="showGlobalStorage()" matTooltip="Show Global Storage(ndl,sumDL) in console">Show
        Global Storage</button>
</mat-menu>


<div style="background-color:#f7f7f7; height:76.5vh; overflow:scroll; padding-left:10px" class="geEditor"
    id="graph-container">
</div>
<app-theme-tabs></app-theme-tabs>