<div class="app-body">
    <main class="main">
        <!-- TODO: solve height 100% incorrect view -->
        <div class="container-fluid" style="height: 700px ;padding-right:0;">
            <div class="row">
                <label class="btn btn-info">
                    <input class="col" type="file" (change)="importBPELDoc($event)" style="display:none;">
                    Import BPEL
                </label>
                <label class="btn btn-info">
                    <button class="btn btn-info" type="button" (click)="exportBPELDoc('graph.bpel')">Export BPEL</button>
                </label>
            </div>
            <div class="row" style="height:700px; ">
                <palette class="col" [userSettedTargetContainerActivity]="targetContainerActivity"></palette>
                <app-graph-editor class="col-8"></app-graph-editor>
                <property-editor class="col" (userSettedTargetContainerActivityEvent)="receiveTargetContainerActivity($event)"></property-editor>
            </div>
        </div>
    </main>
</div>

<app-footer style=" background-color: #e4e5e6 ">
<span><a href="#">SELab</a> &copy; 2020 </span>
</app-footer>