.geEditor {
    border-style: solid;
    border-color: #333333;
    // height: 96.5%;
    width:60%;
    border-width: thin;
    margin-right: 0%;
    padding-right: 0px;
    background-color: white;
    scrollbar-color: green;
    scrollbar-width: 5px;
}