<div class="app-body">
    <main class="main">
        <!-- TODO: solve height 100% incorrect view -->
        <div class="container-fluid" style="height: 700px ;padding-right:0;">
            <div class="row" style="height:700px; ">
                <palette class="col"></palette>
                <app-graph-editor class="col-8"></app-graph-editor>
                <property-editor class="col"></property-editor>
            </div>
        </div>
    </main>
</div>

<app-footer style=" background-color: #e4e5e6 ">
<span><a href="#">SELab</a> &copy; 2020 </span>
</app-footer>