&nbsp;&nbsp;&nbsp;&nbsp;

<div style="display:inline; position:relative; left: 100px;">
<!-- Handle branch node buttons here -->
<span *ngIf="menuData.children && menuData.children.length > 0">
  <button mat-raised-button style="background-color: #333333; color:white" [matMenuTriggerFor]="menu.childMenu">
    Return Data: {{menuData.displayName}}
  </button>
  <app-menu-item #menu [items]="menuData.children"></app-menu-item>
</span>
<!-- Leaf node buttons here -->
<span *ngIf="!menuData.children || menuData.children.length === 0">
  <button mat-raised-button disabled>
    Not Receive Return Data
  </button>
</span>
</div>