/* Styles for tab labels */
.mat-tab-label {
    height: 42px !important;
    min-width : 50px !important;
    padding: 3px;
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}