<div style="background-color: #f7f7f7;
  height:100%;
  width: 100%;
  font-size: large;
  font-weight: bold;
  position: fixed;">
  <mat-tab-group>
    <mat-tab label="Component Setting"> 
      <app-style-editor></app-style-editor> 
      <hr>
      <!-- <app-service-component-configuration></app-service-component-configuration> -->
    </mat-tab>
    <!-- <mat-tab label="Pages"> 
      <app-page-editor></app-page-editor>  
    </mat-tab> -->
    <mat-tab label="Nav">
      <app-nav-editor></app-nav-editor>
    </mat-tab>
  </mat-tab-group>
</div>