/* Styles for tab labels */
.mat-tab-label {
    min-width : 50px !important;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    height: 40px !important;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}