<div class="container-fluid" style="border-style:groove;flex-direction: column;display: flex;height:500px">
  <div style="flex: 1;position:relative;left:10px;font-size: 25px">
    Layout
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown" style="border-style: groove;width:170px;font-size: large;">
        <b class="caret"></b>
        {{this.layout_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of layout" (click)="setLayout(kind)">{{kind}}</option>
      </div>
    </div>
  </div>


  <div style="flex: 1;position:relative;left:10px;font-size: 25px">
    Genre
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown" style="border-style: groove;width:170px;font-size: large">
        <b class="caret"></b>
        {{this.genre_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of genre" (click)="setGenre(kind)">{{kind}}</option>
      </div>
    </div>
  </div>

  <div style="flex: 1;position:relative;left:10px;font-size: 25px">
    Category
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown" style="border-style: groove;width:170px;font-size: large">
        <b class="caret"></b>
        {{this.category_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of categories" (click)="setCategory(kind)">{{kind}}</option>
      </div>
    </div>
  </div>

  <div style="flex: 1;position:relative;left:10px;font-size: 25px">
    UI Components
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown" style="border-style: groove;width:170px;font-size: large">
        <b class="caret"></b>
        {{this.component_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of components" (click)="setComponent(kind)">{{kind}}</option>
      </div>
    </div>
  </div>

  <div style="flex: 1;position:relative;left:10px;font-size: 25px">
    Composition Mechanism
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
      (click)="fresh()">Launch wizard</button>
    <app-wizard [componentName]="component_selected" [componentProperties]="componentProperties"></app-wizard>
  </div>

  <div style="flex: 1;position:relative;left:10px;font-size: 25px">
    Navigation
  </div>

</div>

<div>
  <button onclick="location.href='https://www.google.com.tw';">google</button>
  <button type="button" class="btn btn-dark" (click)="connectServer()">Connect Server </button>
  <button class="btn btn-light" (click)="show()">Existing Component</button>
  <div *ngFor="let c of storageComponents">{{c["selector"] | json}}..</div>
</div>
