<div class="container" style="border-style:groove;display: flex;flex-direction: column">
  <div style="flex: 1;font-size: 25px">
    Layout
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown"
           style="border-style: groove;width:90%;font-size: large;">
        <b class="caret"></b>
        {{this.layout_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of layout" (click)="setLayout(kind)">{{kind}}</option>
      </div>
      <button type="button" class="btn btn-outline-danger" (click)="openForm('header')">
        HeaderItem
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="openForm('sidebar')">
        SidebarItem
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="openForm('asidebar')">
        AsidebarItem
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="openForm('footer')">
        FooterItem
      </button>
    </div>
  </div>

  <div style="flex: 1;font-size: 25px">
    Genre
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown"
           style="border-style: groove;width:90%;font-size: large">
        <b class="caret"></b>
        {{this.genre_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of genre" (click)="setGenre(kind)">{{kind}}</option>
      </div>
    </div>
  </div>

  <div style="flex: 1;font-size: 25px">
    Category
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown"
           style="border-style: groove;width:90%;font-size: large">
        <b class="caret"></b>
        {{this.category_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of categories" (click)="setCategory(kind)">{{kind}}</option>
      </div>
    </div>
  </div>

  <div style="flex: 1;font-size: 25px">
    UI Components
    <div class="dropdown">
      <div class="dropdown-toggle dropdownItem" data-toggle="dropdown"
           style="border-style: groove;width:90%;font-size: large">
        <b class="caret"></b>
        {{this.component_selected}}
      </div>
      <div class="dropdown-menu">
        <option class="dropdown-item" *ngFor="let kind of components" (click)="setComponent(kind)">{{kind}}</option>
      </div>
    </div>
  </div>

  <div style="flex: 1;font-size: 25px">
    Composition Mechanism
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
            (click)="fresh()">Launch wizard
    </button>
    <app-wizard [componentName]="component_selected" [componentProperties]="componentProperties"></app-wizard>
  </div>

  <div style="flex: 1;font-size: 25px">
    Navigation
  </div>

</div>

<div style="display: flex;flex-direction: column;align-items: center">
  <!--    <button onclick="location.href='https://www.google.com.tw';">google</button>-->
  <button type="button" class="btn btn-outline-info" (click)="apply()">
    Apply Layout
  </button>
  <button type="button" class="btn btn-dark" (click)="connectServer()">Connect Server</button>
  <button class="btn btn-light" (click)="show()">Existing Component</button>
  <div *ngFor="let c of storageComponents">{{c["selector"] | json}}..</div>

  <div class="input-group" style="padding-left: 2%">
    <div class="input-group-append">
      <!--    <span class="input-group-text">End</span>-->
      <span class="btn"><i class="fa fa-envelope-o"></i></span>
    </div>
    <input type="text" class="form-control">
  </div>
</div>


<div class="form-popup" id="myForm" style="display: none;position:fixed;top:20%;right:70%;z-index: 9;border-style: groove">
  <form #sf="ngForm" (ngSubmit)="addLayoutItem(sf);">
    <div class="row" style="padding-left: 10px">
      <h3>text:</h3><input ngModel name="text">
    </div>
    <div class="row" style="padding-left: 10px">
      <h3>href:</h3><input ngModel name="href">
    </div>
    <div class="row" style="padding-left: 10px">
      <button class="btn btn-outline-primary">Submit</button>
      <button type="button" class="btn btn-outline-primary" (click)="closeForm()">Close</button>
    </div>
  </form>
</div>

