<br>
<h3 style="display: inline;"> Composite Component: {{uiComponent.type}} </h3>

<div style="display: inline;">
  &nbsp;&nbsp;&nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Service Candidates</mat-label>
    <mat-select disableRipple>
      <mat-option *ngFor="let option of serviceOptions" value="option" (click)="chooseService($event,option)">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;
  <button type="button" (click)="queryService()" mat-raised-button color="primary">Query Services</button>
  &nbsp;&nbsp;
  <mat-spinner [diameter]="30" style="display: inline; position: relative;" *ngIf="isQueryingService"></mat-spinner>
  <br>
</div>

<div>
  <div *ngFor="let subComponent of uiComponent.componentList">
    <div class="argument-block" *ngIf="subComponent.type === 'input'">
      <span>Input Text</span>
      <ul>
        <li><span>Name: {{subComponent.name}}</span></li>
        <li><span>Selector: {{subComponent.selector}}</span></li>
        <li>
          <mat-checkbox [ngModel]="isArgument" (ngModelChange)="toggleIsArgument($event,subComponent)"></mat-checkbox>
          &nbsp;&nbsp;
          <span>Is Argument</span>
          &nbsp;&nbsp;
          <mat-form-field *ngIf="subComponent.serviceComponent.serviceType === 'Argument'" appearance="outline">
            <mat-label>Binding Argument</mat-label>
            <mat-select disableRipple>
              <mat-option *ngFor="let option of argumentOptions" value="{{option}}"
                (click)="chooseArgument($event,option,subComponent)">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<mat-dialog-actions>
  <button type="button" (click)="createComponent()" mat-raised-button color="primary">Create</button>
  <button mat-raised-button color="disabled" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>