<br>
<h3>Ready To Build: {{uiComponentBuilder.type}}</h3>
<div>
    <div *ngFor="let property of buildFormProperties">
        <div *ngIf="property.type == 'String'">
            <mat-form-field appearance="outline">
                <mat-label>{{property.name}}</mat-label>
                <input [ngModel]="inputValue" (ngModelChange)="valueChange($event,property)" matInput
                    placeholder="Placeholder">
                &nbsp;
            </mat-form-field>

            <div style="display: inline; padding-left: 5px;" *ngIf="isPipeline">
                <mat-form-field appearance="outline">
                    <mat-label>From Return</mat-label>
                    <mat-select disableRipple>
                        <mat-option *ngFor="let option of returnData" value="{{option}}"
                            (click)="chooseReturn($event,option, property)">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="property.type == 'Boolean'">
            <mat-slide-toggle [ngModel]="inputValue" (ngModelChange)="valueChange($event,property)" matInput>
                {{property.name}}</mat-slide-toggle>
        </div>
    </div>

    <hr>
    <mat-dialog-actions>
        <button type="button" (click)="setComponentProperties()" mat-raised-button color="primary">Set</button>
        <button mat-raised-button (click)="closeWizard()" color="disabled">Close</button>
        <button (click)="showStatus()" mat-button style="min-width: 10px;" matTooltip="Show Pipeline Status">
            <mat-icon style="margin-bottom:10px ;" svgIcon="barChart"></mat-icon>
        </button>

    </mat-dialog-actions>
</div>