<br>
<h3>Ready To Build: {{uiComponent.type}}</h3>
<div>
    <div *ngFor="let property of buildFormProperties">
        <div *ngIf="property.type == 'String'">
            <mat-form-field appearance="outline">
                <mat-label>{{property.value}}</mat-label>
                <input [ngModel]="inputValue" (ngModelChange)="valueChange($event,property.value)" matInput
                    placeholder="Placeholder">
                &nbsp;
            </mat-form-field>
        </div>
        <div *ngIf="property.type == 'Boolean'">
            <mat-slide-toggle [ngModel]="inputValue" (ngModelChange)="valueChange($event,property.value)" matInput>
                {{property.value}}</mat-slide-toggle>
        </div>
    </div>

    <hr>
    <mat-dialog-actions>
        <button type="button" (click)="createComponent()" mat-raised-button color="primary">Create</button>
    </mat-dialog-actions>
</div>