

// this file is overided by coreui scss, such as app-root. But selector like modal-backdrop still can be used


/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  height: 10vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

app-root {
  padding-left: 0.5%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-backdrop { /* bug fix - no overlay */
  display: none;
}

.mat-dialog-container {
    padding-top: 10px !important;
    background-color: #21252b !important;
}


