// Custom variables
@import "variables";

// Import styles with default layout.
@import "node_modules/@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "custom";

.mat-dialog-container {
    // padding-top: 10px !important;
    // background-color: #21252b !important;
}

.mat-form-field-infix {
    border-top-width: 2px !important;
    padding-bottom: 5px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 7px !important;
}

.mat-tab-body-wrapper{
    flex-grow: 1;
}

// for chip component
.mat-form-field-underline {
    position: relative !important;
    margin-top: 15px;
}

.mat-spinner > svg {
   position: relative !important; 
}

.app-header {
    height:40px;
}

.app-body {
  margin-top: 40px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color:#082038;
}

 /* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
 }
  
  /* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1;
  background-color: darkgrey;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: #555;
  background-color: #080238;
} 

selab-graph-editor .mat-tab-label{
  height: 100%;
  padding-right: 0px;
}

selab-setting .mat-tab-body-content {
  position: fixed;
}

selab-setting .mat-tab-label {
  font-size: large;
  font-weight: bold;
}