:host{

}

.geEditor {
    border-style: solid;
    border-color: black;
    height: 90%;
  width:100%;
  margin-right: 0%;
  padding-right: 0px;
    background-color: white;
}

 /* width */
#graphContainer ::-webkit-scrollbar {
  width: 50px;
}

/* Track */
#graphContainer ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px red;
  border-radius: 10px;
}

/* Handle */
#graphContainer ::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


