.geEditor {
    background-color: white;
    border-style: solid;
    border-color: black;
}

 /* width */
#graphContainer ::-webkit-scrollbar {
  width: 50px;
}

/* Track */
#graphContainer ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px red;
  border-radius: 10px;
}

/* Handle */
#graphContainer ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
} 

