<!-- <button (click)="convertToCanvas()" class="info">GraphEditor To Canvas</button> -->
<button type="button" (click)="showExternalRepresentation()" class="btn btn-secondary">Show External Representation</button>
<button type="buttton" (click)="newProject()" class="btn btn-secondary" style="margin-left: 1%">New Project</button>
<button type="buttton" (click)="newPage()" class="btn btn-secondary" style="margin-left: 1%">New Page</button>
<button type="buttton" (click)="clearGraph()" class="btn btn-secondary" style="margin-left: 1%">Clear Graph</button>
<button type="buttton" (click)="increaseFont()" class="btn btn-secondary" style="margin-left: 1%">Larger Font</button>
<button type="buttton" (click)="decreaseFont()" class="btn btn-secondary" style="margin-left: 1%">Smaller Font</button>
<button type="buttton" (click)="getXML()" class="btn btn-secondary" style="margin-left: 1%">Show XML</button>
<button type="buttton" (click)="getImage()" class="btn btn-secondary" style="margin-left: 1%">Get Image</button>
<div
    style="overflow:scroll"
    class="geEditor"
    id="graphContainer0">
</div>
